/*Saco margenes para empezar a modificar*/
*{
    margin: 0;
    padding: 0;
}
/*imagen de fondo index*/
body{background:url('../Imagenes/restaurante2.jpg') no-repeat center center fixed;
    background-size: cover;}

/*imagen de fondo usuarios*/
.usuariosBody{
    background:url('../Imagenes/fondoNegro.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*imagen de perfil usuarios*/
.imgPerfil{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    margin-top: -125px;
}

/*Cabecera HTML*/
header{     
    padding: 2.0% ; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0 , 0.849);
    margin:auto;
    border-radius: 10px;
}

/*Boton Cerrar*/
.botonCerrar a{
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    background: #FFF;
    float: right;
    margin-top: -50px;
    
}


header h1{     
    color: green ;
}

header span{
    color: rgba(207, 34, 11, 0.849);
}

header p {
    color: rgb(252, 252, 252);
}

.bienvenido{
    text-align: left;
    margin-top: 10px;
    font-family: cursive;
    color: #fff;
}

h2{
    text-align: center;
    margin-top: 10px;
    font-family: cursive;
}

/*Estilos   h3*/
h3{
    text-align: center;
    font-family: cursive;
    
}



/*Marco de Inicio de Sesion*/
.contenedorInicio{ 
    width: 50%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 25px ;  
    margin-top: 0.4%;    
    margin-left: 25%;
    background: rgba(23, 150, 50,0.849);    
}

.contenedorInicio .svgNegocio{
    margin-left: 45%;
}

form div input{
    width: 50%;
    margin-left: 25%;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    border: #000000;
}

form div input:focus{
    border: 1.5px solid #000000 ;
}

.ingresoBot{
    width: 25%;
    margin-left: 37.5%;
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 1.5px solid rgb(3, 124, 223);
    background: rgb(3, 124, 223);
    font-family: fantasy;
    color: #FFF;
}

.ingresoBot:focus{
    border: 1.5px solid #000000;
}

.ingresoBot:hover{
    background: rgb(0, 0, 0);
}

/*Mensaje de error en inicio de sesion*/
#error{
    width: 50%;
    margin-left: 35%;
    margin-top: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c42020;
}

/*Pie de pagina*/
footer{
    background:rgba(207, 34, 11, 0.849);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 2%;
    width: 100%;
    margin-top: 45px;
    border-radius: 10px;
    float: left;
    
   
    
    
    
}



