
/*Esconde la ventana modal*/

.contenedorModal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}



/*Estilos del titulo de la modal*/
.contenedorModal .contenido .tituloModal{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 100%;
    margin:auto;
    color: rgb(35, 105, 53);
}


/*Estilos titulo modal*/
.contenedorModal .contenido .tituloModal span{
    color: rgb(192, 48, 48);
}

/*Estilos Modal*/
.contenedorModal .contenido {
    background:rgba(10, 20, 13, 0.849);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 35%;
    background: url('../Imagenes/fondoNegro.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/*Textarea e inputs del modal*/
.contenedorModal .contenido textarea{
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 5px;
}

.pedido{
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 5px;
    padding:5px;
    
}

.contenedorModal .contenido #pedir{
    margin-left: 35%;
    margin-top: 10px;
    border-radius: 5px;
}


.contenedorModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.contenedorModal .close:hover,
		.contenedorModal .close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
        }
        
.mozoBody h2{
    font-family: cursive;
    color: aliceblue;
    text-align: left;
    float: left;
    margin-top: 50px;
}

.contenedorPedido{ 
    width: 30%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 25px ;  
    margin-top: 5px;    
    margin-left: 35%;
    background: #adc5b9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;    
}

#pedirComida{
    margin-left: 35%;
}

#pedirBebida{
    margin-left: 35%;
}

#tenedores{
    font-size: 50px;
    color: rgb(39, 145, 48);
}


.contenedorLogo{
    margin-left: 46%;
    margin-top: -70px;
}

.errPedido{
    color: red;
    margin-left:18%;
}


.errPedidob{
    color: red;
    margin-left:18%;
}