h2{
    color: aliceblue;
    text-align: left;
    margin-top: 20px;
}


h3{
    color: rgba(207, 34, 11, 0.849);
    margin-top: -65px;
}

h3 span{
    color:rgba(23, 150, 50,0.849); 
    margin-top: -65px;
}


/*Pedidos(elementos de la lista del chef)*/


ol li .contenedor_pedido_chef{
    background: #d45252;
    text-align: center;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    font-family:    fantasy;
    list-style-type: none;
    padding: 20px;
    background: url('../Imagenes/fondoLiso.jpg') no-repeat center;
    background-size: cover;
}

/*Pedidos(elementos de la lista del bartender)*/
ol li .contenedor_pedido_bar{
    background: #d45252;
    text-align: center;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    font-family:    fantasy;
    list-style-type: none;
    padding: 20px;
    background : rgba(187, 34, 14, 0.877);
}
/*Pedidos(elementos de la lista del cajero)*/
ol li .contenedor_pedido_caja{
    background: #d45252;
    text-align: center;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    font-family:    fantasy;
    list-style-type: none;
    padding: 20px;
    background:#d45252;
    
}
/*Ver Detalle Cajero*/
ol li .contenedor_pedido_caja a {
    margin: auto;
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 5px;
    color: #000000;
    border-radius: 10px;
    background: rgb(26, 79, 109);
    width: 50%;
}

ol li .contenedor_pedido_caja a:hover {
  
    background: rgb(152, 194, 219);
    width: 70%;
}

/*Estilos del boton "Entregar"*/
ol li input{
    padding: 5px;
    border-radius: 4px;
    border: 1.5px solid rgb(8, 14, 8);
    background: rgb(13, 77, 18);
    font-family: fantasy;
    color: #FFF;
    width: 100%;
    text-align: center;
}
    
ol li input:focus{
    border: 1.5px solid #000000;
}

ol li input:hover{
    background:rgba(23, 150, 50,0.849); 
}
/*Anterior y siguiente de listados*/
body a{
    margin-left: 30%;
    display: inline-block;
}