h2{
    color: aliceblue;
}


/*Contenedor del detalle*/
.contenedorDetalle{
    padding: 10px;
    background: rgba(243, 221, 221, 0.726);
    width: 70%;
    border-radius: 10px;
    margin: auto;
}


.contenedorDetalle h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedorDetalle img{
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.contenedorDetalle p {
    text-align: center;
    font-size: 30px;
}

.contenedorDetalle a {
    margin-left: 43%;
    text-decoration: none;
    border: 1px solid #FFF;
    padding: 10px;
    color: #000000;
    border-radius: 10px;
    background: #1a4f6d;
    
}

.contenedorDetalle a:hover {
    background: rgb(152, 194, 219);
}
